<main class='dashboard'>
  <h1>Merchant Dashboard for <%= @merchant.name %></h1>
  <%= link_to  "Merchant Orders", admin_user? ?
                            merchant_orders_path(@merchant) :
                            dashboard_orders_path if @merchant.merchant_orders != [] %>
  <%= link_to  "Merchant Items", merchant_items_path(@merchant) if @items != []%>
  <%= link_to  "Edit Merchant Profile", edit_merchant_path(@merchant) if admin_user? %>
</main>
