html {
  font-family: 'Open Sans', sans-serif;
}

main {
   margin-top: 100;
 }
  .title {
     float: center;
     background-color: #F1F1F1;
     text-align: center;
     padding: 20px;
     padding-top: 20px;
 }
 .cart a {
     float: right;
     color: #000000;
     text-align: center;
     padding: 14px 16px;
     text-decoration: none;
     font-size: 17px;
 }
 .cart a:hover {
     background-color: #87A8EE;
     color: black;
 }
 .user-header a {
    float: right;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
 .user-header a:hover {
    background-color: #87A8EE;
    color: black;
}
 .nav-container a {
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
 nav {
  margin-top: 15px;
}
 .nav-container a:hover {
    background-color: #87A8EE;
    color: black;
}
 h3 {
  position: relative;
}
 .flash-container{
  position: absolute;
  top: 35px;
}
 .logged-in{
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 12px;
}
 .items, .merchant-items {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  box-sizing: border-box;
  width: 300px;
  height: 300px;
  font-size: 12px;
  text-align: center;
  margin: 24px;
  padding: 10px;
 }

 .merchant-items {
  height: 350px;
 }

 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
 .item-info {
    height: 140px;
    overflow: scroll;
    top: 0px;
}
 .items:hover {
    border: 1px solid #777;
}

.items img,
.merchant-items img,
.show-order img {
    width: 25%;
    height: 25%;
}

.add-new-item {
    margin: 30px;
}

.item-img {
    position: absolute;
    right: 0;
    top: 0;
}

.item-desc {
  position: relative;
  left: 30px;
  align: center;
  text-align: left;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    align: left;
}

.submit input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    right: 90px;
}

.submit input[type=submit]:hover {
    background-color: #45a049;
}

.form {
    border-radius: 5px;
    background-color: #f2f2f2;
    margin: 35px 250px 50px 250px;
    padding: 50px;
}

.title {
  float: center;
  text-align: center;
}

.index-container {
  display: flex;
  width: 500px;
  justify-content: space-between;
}

.index-container input {
  margin-top: 24px;
}

.order-container input {
  position: relative;
  top: -22px;
  left: 150px;
}

.title, h1, h2, h3, h4, h5 {
  font-family: 'Roboto', sans-serif;
}

.title {
  font-size: 36px;
}

.title span {
  font-weight: bold;
  color: slategray;
}

table tr {
  height: 36px;
  vertical-align: top;
}

td {
padding: 6px 18px;
}

.error {
  background-color: red;
  color: white;
}

.notice {
  background-color: blue;
  color: white;
}

.success {
  color: green;
}

.items h3, .merchant-items h3 {
  height: 30px;
}

.item-img img {
  height: 200px;
  width: 200px;
  margin-left: 100px;
}

.item-status {
  display: flex;
  justify-content: center;
}

.item-status input {
  margin-top: 14px; 
  margin-left: 12px;
}

.customer {
  display: flex;
  justify-content: baseline;
}

.customer-title {
  margin-right: 24px;
}