main {
   margin-top: 100;
 }
  .title {
     float: center;
     background-color: #F1F1F1;
     text-align: center;
     padding: 20px;
     padding-top: 20px;
 }
 .cart a {
     float: right;
     color: #000000;
     text-align: center;
     padding: 14px 16px;
     text-decoration: none;
     font-size: 17px;
 }
 .cart a:hover {
     background-color: #87A8EE;
     color: black;
 }
 .user-header a {
    float: right;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
 .user-header a:hover {
    background-color: #87A8EE;
    color: black;
}
 .nav-container a {
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
 nav {
  margin-top: 15px;
}
 .nav-container a:hover {
    background-color: #87A8EE;
    color: black;
}
 h3 {
  position: relative;
}
 .flash-container{
  position: absolute;
  top: 35px;
}
 .logged-in{
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 12px;
}
 .items {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  box-sizing: border-box;
  width: 300px;
  height: 300px;
  font-size: 12px;
  text-align: center;
  margin: 35px;
  padding: 10px;
 }
 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
 .item-info {
    height: 130px;
    overflow: scroll;
    top: 0px;
}
 .items:hover {
    border: 1px solid #777;
}
 .items img {
    width: 25%;
    height: 25%;
}

.add-new-item {
    margin: 30px;
}

.item-img {
    position: absolute;
    left: 1000px;
    margin: 20px;

}
.item-desc {
  position: relative;
  left: 30px;
  align: center;
  text-align: left;
}

input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 10px; /* Some padding */
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical;
    align: left/* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    right: 90px;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: #45a049;
}

/* Add a background color and some padding around the form */
.user-registration-form {
    border-radius: 5px;
    background-color: #f2f2f2;
    margin: 35px 250px 50px 250px;
    padding: 50px;
}

.new-user-title {
  text-align: center;
  align: center;
}
